* {
    text-align: center;
    color: aqua;
}

h2 {
    color: aqua;
}

#xxx {
    border: 6px dotted rgb(255, 0, 0);
}

input[type="text"] {
    color: rgb(255, 238, 0);
    font-weight: bold;
    height: 30px;
    border: 2px solid red;
}

input[type="password"] {
    color: rgb(0, 255, 255);
    font-weight: bold;
    height: 30px;
}

input[type="submit"] {
    color: rgb(0, 255, 55);
    font-weight: bold;
    height: 30px;
}